@font-face {
  font-family: 'Dosis-Font';
  src: url("../fonts/dosis-regular-webfont.eot");
  src: url("../fonts/dosis-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-regular-webfont.woff") format("woff"), url("../fonts/Dosis-Regular.otf") format("truetype"); }
@font-face {
  font-family: 'Andada-Font';
  src: url("../fonts/andada-regular-webfont.eot");
  src: url("../fonts/andada-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andada-regular-webfont.woff") format("woff"), url("../fonts/Andada-Regular.otf") format("truetype"); }
body {
  padding: 0;
  margin: 0;
  font-family: "Andada-Font", serif; }

.wrapper {
  padding: 5% 15%; }

.wrapper-small {
  padding: 5% 15% 0 15%; }

.huge-images {
  width: 100%;
  z-index: -1;
  display: block; }

/*masthead-image */
.masthead {
  position: relative; }
  .masthead .masthead-phone {
    position: absolute;
    right: 15%;
    top: 35%;
    width: 35%;
    z-index: 999; }
  .masthead .page-logo {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 5%; }
  .masthead .masthead-contents {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 30%; }
    .masthead .masthead-contents .masthead-contents-header {
      font-size: 5vw;
      font-family: "Dosis-Font", sans-serif;
      color: #ffffff;
      text-shadow: 1px 1px #000000; }
    .masthead .masthead-contents .masthead-contents-description {
      font-size: 1.7vw;
      font-family: "Andada-Font", serif;
      color: #ffffff;
      text-shadow: 0px 1px #000000;
      margin-top: 10%; }

/* end masthead-image */
/* text */
.introduction h1 {
  font-size: 3vw;
  font-family: "Dosis-Font", sans-serif;
  color: #222626;
  opacity: 0.8; }
.introduction p {
  font-size: 1vw;
  font-family: "Andada-Font", serif;
  color: #959595; }

.introduction-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.introduction-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .introduction-box:nth-child(1) {
    padding-right: 2%; }
  .introduction-box:nth-child(2) {
    padding-left: 2%; }
  .introduction-box .introduction-box-text-wrapper {
    margin-top: 30%; }

/* end text */
/* boxGrid */
.boxGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .boxGrid h1 {
    font-size: 2.5vw;
    font-family: "Dosis-Font", sans-serif;
    color: #ffffff;
    margin: 2vw 0; }
  .boxGrid p {
    font-size: 1vw;
    font-family: "Andada-Font", serif;
    color: #ffffff;
    width: 80%;
    margin: 3vw 0 5vw 0; }
  .boxGrid .arrow {
    font-size: 1vw;
    font-family: "Andada-Font", serif;
    color: #ffffff;
    position: absolute;
    bottom: 10%;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer; }
    .boxGrid .arrow:hover {
      -webkit-animation: link-animation 1.5s forwards;
              animation: link-animation 1.5s forwards; }
    .boxGrid .arrow .icon-right {
      margin-left: 0.5vw; }
  .boxGrid .heart {
    font-size: 1.3vw;
    position: absolute;
    font-weight: bold;
    bottom: 9%;
    right: 5%;
    -webkit-transition: 1.5s;
            transition: 1.5s; }
    .boxGrid .heart:hover {
      -webkit-transform: scale(1.2, 1.2);
          -ms-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
      cursor: pointer; }
  .boxGrid .icon-heart-empty {
    -webkit-transition: 1.5s;
            transition: 1.5s;
    color: #ffffff; }
    .boxGrid .icon-heart-empty:hover {
      color: #FF4C3B; }
  .boxGrid .icon-heart {
    color: #FF4C3B; }

.boxGrid-box, .boxGrid-box-2 {
  position: relative;
  padding: 0 3%;
  -webkit-transition: 1s;
          transition: 1s; }
  .boxGrid-box:hover, .boxGrid-box-2:hover {
    opacity: 0.9; }

.boxGrid-box-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .boxGrid-box-1:nth-child(2) {
    background-color: #f5989d; }
  .boxGrid-box-1:nth-child(3) {
    background-color: #615f7d; }
  .boxGrid-box-1:nth-child(4) {
    background-image: url("../images/boxGrid-boxSmall.jpg");
    background-size: cover; }
  .boxGrid-box-1:last-of-type {
    background-color: #82ca9c; }

.boxGrid-box-2 {
  -webkit-box-flex: 2.22;
  -webkit-flex: 2.22;
      -ms-flex: 2.22;
          flex: 2.22;
  background-image: url("../images/boxGrid-boxLarge.jpg");
  background-size: cover; }
  .boxGrid-box-2 p {
    width: 60%; }

/* end boxGrid */
/* columns */
.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap; }
  .columns h1 {
    font-size: 3vw;
    font-family: "Dosis-Font", sans-serif;
    color: #222626;
    opacity: 0.8;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .columns h4 {
    font-size: 1.5vw;
    font-family: "Andada-Font", serif;
    color: #222626;
    opacity: 0.8;
    margin-bottom: 5%; }
  .columns p {
    font-size: 1vw;
    font-family: "Andada-Font", serif;
    color: #959595; }

.columns-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2vw; }

/* end columnts */
/* backgroundImage */
.backgroundImage {
  position: relative; }
  .backgroundImage .backgroundImage-contents {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 35%; }
  .backgroundImage h1 {
    font-size: 4.5vw;
    font-family: "Dosis-Font", sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    margin-bottom: 10%; }
  .backgroundImage p, .backgroundImage a {
    font-size: 1.4vw;
    font-family: "Andada-Font", serif;
    color: #ffffff;
    text-shadow: 0px 1px #000000; }
  .backgroundImage p {
    margin-bottom: 5%; }
  .backgroundImage a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: bold; }
    .backgroundImage a .icon-right {
      margin-left: 0.5vw; }
    .backgroundImage a:hover {
      -webkit-animation: link-animation 1.5s forwards;
              animation: link-animation 1.5s forwards; }

/* end backgroundImage */
/* colour */
.colour-columns {
  background-color: #82ca9c; }
  .colour-columns h1 {
    font-size: 3vw;
    font-family: "Dosis-Font", sans-serif;
    color: #ffffff;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .colour-columns .columns h4 {
    font-size: 1.5vw;
    font-family: "Andada-Font", serif;
    color: #ffffff; }
  .colour-columns .columns p {
    font-size: 1vw;
    font-family: "Andada-Font", serif;
    color: #ffffff; }

/* end colour */
/* buying */
.buying {
  background-color: #f6f7fa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .buying .buying-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5%;
    -webkit-transition: 2s;
            transition: 2s; }
    .buying .buying-box:hover .buying-box-label {
      background-color: #bd8cbf; }
    .buying .buying-box:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.2); }
    .buying .buying-box:nth-child(1) {
      margin-right: 5%; }
    .buying .buying-box:nth-child(2) {
      margin-left: 5%; }
    .buying .buying-box .buying-box-label {
      font-size: 1vw;
      border-radius: 5%;
      color: #ffffff;
      padding: 2%;
      background-color: #e1e1e1;
      -webkit-transition: 2s;
              transition: 2s;
      text-transform: uppercase;
      margin-top: 8%;
      display: inline-block; }
    .buying .buying-box .buying-header {
      font-size: 3.5vw;
      font-family: "Dosis-Font", sans-serif;
      color: #222626;
      opacity: 0.8;
      margin: 5% 0; }
    .buying .buying-box .buying-description {
      font-size: 1vw;
      font-family: "Andada-Font", serif;
      color: #959595;
      margin-bottom: 8%; }
    .buying .buying-box .buying-button {
      font-size: 1.2vw;
      font-family: "Dosis-Font", sans-serif;
      color: #ffffff;
      display: block;
      text-decoration: none;
      text-align: center;
      width: 35%;
      margin: 5% 0;
      font-weight: bold;
      background-color: #82ca9c;
      border: none;
      padding: 3% 5%;
      border-radius: 5%;
      letter-spacing: 0.1vw;
      cursor: pointer;
      -webkit-transition: 1s;
              transition: 1s;
      text-transform: uppercase; }
      .buying .buying-box .buying-button:hover {
        background-color: #6ce096; }
    .buying .buying-box .buying-icons {
      color: #959595;
      margin-bottom: 8%; }
      .buying .buying-box .buying-icons i {
        font-size: 1.3vw; }

/* end buying */
/* footer */
.footer {
  background-color: #192431;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer h4 {
    font-size: 1.5vw;
    font-family: "Andada-Font", serif;
    color: #ffffff;
    margin-bottom: 5%; }
  .footer p {
    font-size: 1vw;
    font-family: "Andada-Font", serif;
    color: #ffffff; }
  .footer input[type="email"] {
    width: 80%;
    height: 2vw;
    border: none;
    border-radius: 2% 0px 0px 2%;
    font-size: 1.3vw;
    float: left;
    padding: 0;
    margin-bottom: 5%; }
  .footer .contact-button {
    width: 20%;
    height: 2vw;
    border: none;
    color: #ffffff;
    background-color: #82ca9c;
    padding: 1%;
    border-radius: 0px 2% 2% 0px;
    float: right;
    font-size: 1.2vw;
    -webkit-transition: 1s;
            transition: 1s;
    margin-bottom: 5%; }
    .footer .contact-button:hover {
      cursor: pointer;
      background-color: #70dc97; }
  .footer ul {
    list-style-type: none;
    padding: 0;
    margin: 1vw 0; }
  .footer a {
    text-decoration: none;
    font-size: 1vw;
    font-family: "Andada-Font", serif;
    color: #ffffff; }
  .footer .footer-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .footer .footer-box:nth-child(1) {
      margin-right: 20%; }
  .footer .footer-list-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .footer .footer-list {
    margin-top: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-list a {
      padding: 0.2vw 0;
      display: block; }
  .footer .footer-contents {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .footer .footer-form {
    width: 50%; }
    .footer .footer-form li {
      font-size: 1.2vw; }
    .footer .footer-form .form-description {
      font-size: 0.8vw;
      font-family: "Andada-Font", serif;
      color: #57697f;
      padding-top: 10%;
      display: block; }

/* end footer */
@-webkit-keyframes link-animation {
  50% {
    -webkit-transform: scale(1.1, 1.1) translateX(2vw);
            transform: scale(1.1, 1.1) translateX(2vw); }
  70% {
    -webkit-transform: scale(1.1, 1.1) translateX(1vw);
            transform: scale(1.1, 1.1) translateX(1vw); }
  90% {
    -webkit-transform: scale(1.1, 1.1) translateX(2vw);
            transform: scale(1.1, 1.1) translateX(2vw); } }
@keyframes link-animation {
  50% {
    -webkit-transform: scale(1.1, 1.1) translateX(2vw);
            transform: scale(1.1, 1.1) translateX(2vw); }
  70% {
    -webkit-transform: scale(1.1, 1.1) translateX(1vw);
            transform: scale(1.1, 1.1) translateX(1vw); }
  90% {
    -webkit-transform: scale(1.1, 1.1) translateX(2vw);
            transform: scale(1.1, 1.1) translateX(2vw); } }

/*# sourceMappingURL=style.css.map */