@import 'mixins.scss';
@import 'variables.scss';

@font-face {
    font-family: 'Dosis-Font';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/Dosis-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Andada-Font';
	src: url('../fonts/andada-regular-webfont.eot');
    src: url('../fonts/andada-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andada-regular-webfont.woff') format('woff'),
         url('../fonts/Andada-Regular.otf') format('truetype');
}

body {
	padding: 0;
	margin: 0;
	font-family: $p-font;
}

.wrapper {
	padding: 5% 15%;
}

.wrapper-small {
	padding: 5% 15% 0 15%;
}

.huge-images {
	width: 100%;
	z-index: -1;
	display: block;
}

/*masthead-image */

.masthead {
	position: relative;

	.masthead-phone {
		position: absolute;
		right: 15%;
		top: 35%;
		width: 35%;
		z-index: 999;
	}

	.page-logo {
		position: absolute;
		left: 15%;
		top: 5%;
		width: 5%;
	}

	.masthead-contents {
		position: absolute;
		left: 15%;
		top: 30%;
		width: 30%;

		.masthead-contents-header {
			@include create-font(5vw, $h1-font, $prim-font-color, $h1-shadow);
		}

		.masthead-contents-description {
			@include create-font(1.7vw, $p-font, $prim-font-color, $p-shadow);
			margin-top: 10%;
		}
	}
}

/* end masthead-image */


/* text */

.introduction {
		
	h1 {
		@include create-font(3vw, $h1-font, $sec-font-color, null, 0.8);
	}

	p {
		@include create-font(1vw, $p-font, $third-font-color);
	}

}

.introduction-contents {
	display: flex;
}

.introduction-box {
	flex: 1;
	
	&:nth-child(1) {
		padding-right: 2%;
	}

	&:nth-child(2) {
		padding-left: 2%;
	}

	.introduction-box-text-wrapper {
		margin-top: 30%;
	}
}

/* end text */


/* boxGrid */

.boxGrid {
	display: flex;

	h1 {
		@include create-font(2.5vw, $h1-font, $prim-font-color);
		margin: 2vw 0;
	}

	p {
		@include create-font(1vw, $p-font, $prim-font-color);
		width: 80%;
		margin: 3vw 0 5vw 0;
	}

	.arrow {
		@include create-font(1vw, $p-font, $prim-font-color);
		position: absolute;
		bottom: 10%;
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			animation: link-animation 1.5s forwards;
		}

		.icon-right {
			margin-left: 0.5vw;
		}
	}

	.heart {
		font-size: 1.3vw;
		position: absolute;
		font-weight: bold;
		bottom: 9%;
		right: 5%;
		transition: 1.5s;

		&:hover {
			transform: scale(1.2,1.2);
			cursor: pointer;
		}
	}

	.icon-heart-empty {
		transition: 1.5s;
		color: $prim-font-color;

		&:hover {
			color: #FF4C3B;
		}
	}

	.icon-heart {
		color: #FF4C3B;
	}


}

.boxGrid-box {
	position: relative;
	padding: 0 3%;
	transition: 1s;

	&:hover {
		opacity: 0.9;
	}	
}


.boxGrid-box-1 {
	flex: 1;

	&:nth-child(2) {
		background-color: #f5989d;
	}

	&:nth-child(3) {
		background-color: #615f7d;
	}

	&:nth-child(4) {
		background-image: url('../images/boxGrid-boxSmall.jpg');
		background-size: cover;
	}

	&:last-of-type {
		background-color: #82ca9c;
	}
}

.boxGrid-box-2 {
	@extend .boxGrid-box;
	flex: 2.22;
	background-image: url('../images/boxGrid-boxLarge.jpg');
	background-size: cover;	

	p {
		width: 60%;
	}

}

/* end boxGrid */


/* columns */

.columns {
	display: flex;
	flex-flow: wrap;

	h1 {
		@include create-font(3vw, $h1-font, $sec-font-color, null, 0.8);
		flex-basis: 100%;
	}

	h4 {
		@include create-font(1.5vw, $p-font, $sec-font-color, null, 0.8);
		margin-bottom: 5%;
	}

	p {
		@include create-font(1vw, $p-font, $third-font-color);
	}
}

.columns-box {
	flex:1;
	margin-right: 2vw;	
}

/* end columnts */

/* backgroundImage */

.backgroundImage{
	position: relative;

	.backgroundImage-contents {
		position:absolute;
		left: 15%;
		top: 15%;
		width: 35%;
	}

	h1 {
		@include create-font(4.5vw, $h1-font, $prim-font-color, $h1-shadow);
		margin-bottom: 10%;
	}

	p, a {
		@include create-font(1.4vw, $p-font, $prim-font-color, $p-shadow);
	}

	p {
		margin-bottom: 5%;
	}

	a {
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-weight: bold;

		.icon-right {
			margin-left: 0.5vw;
		}

		&:hover {
			animation: link-animation 1.5s forwards;
		}
	}
}

/* end backgroundImage */

/* colour */

.colour-columns {
	background-color: #82ca9c;

	h1 {
		@include create-font(3vw, $h1-font, $prim-font-color);
		flex-basis: 100%;
	}

	.columns {

		h4 {
			@include create-font(1.5vw, $p-font, $prim-font-color);
		}

		p {
			@include create-font(1vw, $p-font, $prim-font-color);
		}
	}
}

/* end colour */

/* buying */

.buying {
	background-color: #f6f7fa;
	display:flex;

	.buying-box {
		flex:1;
		padding: 0 5%;
		transition: 2s;

		&:hover .buying-box-label {
			background-color: #bd8cbf;
		}

		&:hover {
			background-color: #ffffff;
			box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.2);
		}

		&:nth-child(1) {
			margin-right: 5%;
		}

		&:nth-child(2) {
			margin-left: 5%;
		}

		.buying-box-label {
			font-size: 1vw;
			border-radius: 5%;
			color: #ffffff;
			padding: 2%;
			background-color: #e1e1e1;
			transition: 2s;
			text-transform: uppercase;
			margin-top: 8%;
			display: inline-block;
		}

		.buying-header {
			@include create-font(3.5vw, $h1-font, $sec-font-color, null, 0.8);
			margin: 5% 0;
		}

		.buying-description {
			@include create-font(1vw, $p-font, $third-font-color);
			margin-bottom: 8%;
		}

		.buying-button {
			@include create-font(1.2vw, $h1-font, $prim-font-color);
			display:block;
			text-decoration: none;
			text-align: center;
			width: 35%;
			margin: 5% 0;
			font-weight: bold;
			background-color: #82ca9c;
			border: none;
			padding: 3% 5%;
			border-radius: 5%;
			letter-spacing: 0.1vw;
			cursor:pointer;
			transition: 1s;
			text-transform: uppercase;

			&:hover {
				background-color: saturate(#82ca9c, 25);
			}
		}

		.buying-icons {
			color: $third-font-color;
			margin-bottom: 8%;

			i {
				font-size: 1.3vw;
			}
		}

	}
}

/* end buying */

/* footer */

.footer {
	background-color: #192431;
	display: flex;

	h4 {
		@include create-font(1.5vw, $p-font, $prim-font-color);
		margin-bottom: 5%;
	}

	p {
		@include create-font(1vw, $p-font, $prim-font-color);
	}

	input[type="email"] {
		width: 80%;
		height: 2vw;
		border:none;
		border-radius: 2% 0px 0px 2%;
		font-size: 1.3vw;
		float:left;
		padding: 0;
		margin-bottom: 5%;
	}

	.contact-button {
		width: 20%;
		height: 2vw;
		border:none;
		color: #ffffff;
		background-color: #82ca9c;
		padding: 1%;
		border-radius: 0px 2% 2% 0px;
		float:right;
		font-size: 1.2vw;
		transition: 1s;
		margin-bottom: 5%;

		&:hover {
			cursor: pointer;
			background-color: saturate(#82ca9c, 20);
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 1vw 0;
	}

	a {
		text-decoration: none;
		@include create-font(1vw, $p-font, $prim-font-color);
	}

	.footer-box {
		flex:1;

		&:nth-child(1) {
			margin-right: 20%;
		}
	}

	.footer-list-box {
		flex: 1;
	}

	.footer-list {
		margin-top: 10%;
		display: flex;
		
		a {
			padding: 0.2vw 0;
			display: block;
		}
	}

	.footer-contents {
		flex-basis: 100%;
	}
	
	.footer-form {
		width: 50%;

		li {
			font-size: 1.2vw;
		}

		.form-description {
			@include create-font(0.8vw, $p-font, #57697f);
			padding-top: 10%;
			display:block;
		}
	}
}

/* end footer */ 

@keyframes link-animation {

	50% {
		transform: scale(1.1, 1.1) translateX(2vw);
	}

	70% {
		transform: scale(1.1, 1.1) translateX(1vw);
	}

	90% {
		transform: scale(1.1, 1.1) translateX(2vw);
	}
		
}
